.row
  .col-sm-12.text-center
    %p{style: "font-weight: bold; font-size: 18px;"}
      Thank you for visiting! Our e-commerce site is coming soon.
    %p
      = link_to "In the mean time, if you are interested in our products or have any questions please contact us here. Thank you!", contact_us_path
%br
.row
  .col-sm-12
    = image_tag('home.jpg')
