.row
  .col-sm-12.text-center
    %p{style: "font-weight: bold; font-size: 18px;"}
      Thank you for visiting! Our e-commerce site is coming soon.
    %p
      = mail_to "marciatong13@yahoo.com", "In the mean time, if you are interested in our products or have any questions please send us an email. Thank you!", subject: "Pretty As A Picture Scarves Inquiry"
%br
.row
  .col-sm-12
    = image_tag('home.jpg')
